<app-breadcrumb [title]=this.title [breadcrumb]=this.breadcrumb></app-breadcrumb>

<!-- <form> -->
<div class="form-group">
	<label for="titleInput">Título</label>
	<input id="titleInput" type="text" class="form-control" placeholder="Home de esportes">
</div>

<div class="form-group">
	<label for="subtitleInput">Subtítulo</label>
	<input id="subtitleInput" type="text" class="form-control" placeholder="esportes/home">
</div>

<div class="form-group">
	<label for="textInput">Texto</label>
	<textarea id="textInput" class="form-control rounded-50" id="exampleFormControlTextarea1" rows="5" placeholder="Texto do destaque"></textarea>
</div>

<div class="form-group">
	<label for="pageInput">Página</label>
	<select id="pageInput" class="form-control">
		<option>Selecione uma página</option>
		<option>1</option>
		<option>2</option>
	</select>
</div>

<div class="form-group">
	<label for="uriInput">URL</label>
	<input id="uriInput" type="text" class="form-control" placeholder="destaque/url/customizada">
</div>

<div class="form-group">
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-danger btn-block" type="reset">
				<i class="fas fa-trash-alt fa-sm"></i> Limpar campos</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-success btn-block" type="submit">
				<i class="fas fa-check fa-sm"></i> Salvar</button>

		</div>
	</div>
</div>
<!-- </form> -->
